<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2nSvmxXO85F_efCm678P9dq1NKjNSyDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>362459218801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeui</string>
	<key>PROJECT_ID</key>
	<string>foodcalorie-d56ac</string>
	<key>STORAGE_BUCKET</key>
	<string>foodcalorie-d56ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362459218801:ios:e12920e8d6de253392acd0</string>
</dict>
</plist>